<div class="container mt-3">
    <h2>New User</h2>
  
    <form action="/auth/signup" method="post">
      <div>
        <label>Name</label>
        <input name="name" placeholder="name" />
      </div>
      <div>
        <label>Address</label>
        <input name="address" placeholder="address" />
      </div>
      <div>
        <label>Age</label>
        <input name="age" type="number" placeholder="age" />
      </div>
      <div>
        <label>Phone</label>
        <input name="phone" placeholder="phone" />
      </div>
      <div>
        <label>Password</label>
        <input name="password" type="password" placeholder="******" />
      </div>
      <div>
        <label>User type</label>
        <input name="usertype" type="radio" value="senior" /> Senior
        <input name="usertype" type="radio" value="helper" /> Helper
      </div>
      <button type="submit">Create User</button>
    </form>
  </div>