<h2>Items</h2>

<form action="/list" method="post">
    <label>Name:</label>
    <input name="item" placeholder="Item name"/>
    <label>Quantity:</label>
    <input name="quantity" type="number"/>

  
    <button type="submit">Create List</button>
</form>